<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/c1b03e31-1d37-4baf-8df3-67f318f162e7/resourceGroups/ProInvest/providers/Microsoft.Web/sites/ProInvestAPI</ResourceId>
    <ResourceGroup>ProInvest</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://proinvestapi.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://proinvestapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$ProInvestAPI</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>